<as-split unit="pixel" disabled="true" gutterSize="1">
    <as-split-area size="220" class="bg-white">
        <app-activate-tree></app-activate-tree>
    </as-split-area>
    <as-split-area size="*">
        <div class="di-box_prt">
            <div class="di-box_header no-shadow di-box_header-tab have-right">
                <div class="di-content-title">
                    <h2 class="font-blue">Acticated Recipe List</h2>
                </div>
                <div class="di-head-action"> <button class="btn btn-outline-dark btn-sm pl-3 pr-3" type="button">
                        <mat-icon>ic_add_circle_outline</mat-icon> Create A New Schedule
                    </button>
                </div>
            </div>
            <div class="di-box_content">
                <p></p>
            </div>
        </div>
    </as-split-area>
</as-split>