<div class="pad30L-sm pad20T">
    <h1 class="di__features-headtitle font-blue">Demo with QuickBook online</h1>
<div class="swiper-container video-card mb-4" [swiper]="swiperCOnfig">
    <div class="swiper-wrapper">
      <div class="card swiper-slide">
        <div class="card-body" style=" background-image: url(./assets/imgs/video-img/video-bg-02.jpg) ;background-repeat: no-repeat; background-size: cover;background-position:center">
            <div class="card-button">
                <a href="#" class="btn btn-play rounded-circle font-blue"><span class="material-icons">ic_play_arrow</span></a>
            </div>
            <div class="card-text-event">
            <h3 class="card-title">Video 1</h3>
          </div>
        </div>
      </div>
      <div class="card swiper-slide" >
        <div class="card-body" style="background-image: url(./assets/imgs/video-img/video-bg-01.jpg);background-repeat: no-repeat; background-size: cover;background-position:center">
            <div class="card-button">
                <a href="#" class="btn btn-play rounded-circle font-blue"><span class="material-icons">ic_play_arrow</span></a>
            </div>
            <div class="card-text-event">
            <h3 class="card-title">Video 2</h3>
          </div>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="card-body" style="background-image: url(./assets/imgs/video-img/video-bg-03.jpg);background-repeat: no-repeat; background-size: cover;background-position:center">
            <div class="card-button">
                <a href="#" class="btn btn-play rounded-circle font-blue"><span class="material-icons">ic_play_arrow</span></a>
            </div>
            <div class="card-text-event">
            <h3 class="card-title">Video 3</h3>
          </div>
        </div>
      </div>   
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
