<div class="di-box_prt min-mdw-200">
    <div class="di-box_header pad0A">
        <div class="di-sidebar-title">
            <h1 class="di__h1">{{title}}</h1>
        </div>
    </div>
    <div class="di-box_content pad0A">
        <ul class="list-group list-group-flush di__sidebar-menu">
            <li class="list-group-item" ><i class="material-icons">ic_account_balance_wallet</i><a routerLinkActive="active" [routerLink]="['billing']">Billing
                    Information</a></li>
            <li class="list-group-item" ><i class="material-icons">ic_notifications</i><a routerLinkActive="active" [routerLink]="['mail-alert']">Mail Alert</a></li>
            <li class="list-group-item" ><i class="material-icons">ic_card_travel</i><a routerLinkActive="active" [routerLink]="['company-profile']">Company Profile</a></li>
        </ul>
    </div>
</div>