<form [formGroup]="formGroup" (validSubmit)="onSubmit()" class="di-box_prt">
  <div class="di-box_header pad0A no-shadow have-right">
    <div class="di-head-title">
      <h1 class="di__h1">{{title}}</h1>
    </div>
    <div class="di-head-action"> <button class="btn btn-light btn-sm font-blue mr-2" type="submit">Save</button> <button class="btn btn-default btn-sm"
        type="button" (click)="onReset()">Cancel</button>
    </div>
  </div>
  <div class="di-box_content">
    <div class="container">
      <div class="row justify-content-sm-center mt-5">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="text" class="form-control form-control-sm" formControlName="Email">
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control form-control-sm" formControlName="Password" disabled>
              <div class="input-group-append">
                <span class="input-group-text border-left-0"><i class="material-icons">ic_lock</i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">New Password</label>
            <div class="input-group">
              <input type="password" class="form-control form-control-sm" formControlName="Password">
              <div class="input-group-append">
                <span class="input-group-text border-left-0"><i class="material-icons">ic_lock</i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Retype Password</label>
            <div class="input-group">
              <input type="password" class="form-control form-control-sm" formControlName="Password">
              <div class="input-group-append">
                <span class="input-group-text border-left-0"><i class="material-icons">ic_lock</i></span>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</form>