<form [formGroup]="httpClientParameterForm" (ngSubmit)="ok()">
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-4 col-form-label col-form-label-sm">Method <span class="text-danger">*</span></label>
      <div class="col-md-8">
        <select class="custom-select custom-select-sm" formControlName="httpMethod">
          <option *ngFor="let option of httpMethods" [value]="option.value">{{ option.text }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label-sm">Response Data Type <span class="text-danger">*</span></label>
      <div class="col-md-8">
        <select class="custom-select custom-select-sm" formControlName="responseDataType">
          <option value="json">JSON</option>
          <option value="xml">XML</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label col-form-label-sm">Parameter Type<span class="text-danger">*</span></label>
      <div class="col-md-8">
        <select
          class="custom-select custom-select-sm"
          formControlName="type"
          [class.is-invalid]="typeCtrl.invalid && typeCtrl.touched"
        >
          <option *ngFor="let option of httpParameterTypes" value="{{ option.value }}">{{ option.text }}</option>
        </select>
        <small class="text-danger" [class.d-none]="typeCtrl.valid || typeCtrl.untouched">Required</small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label col-form-label-sm">Parameter <span class="text-danger">*</span></label>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Enter parameter name"
          formControlName="name"
          [class.is-invalid]="nameCtrl.invalid && nameCtrl.touched"
        />
        <div *ngIf="nameCtrl.invalid && nameCtrl.touched">
          <small class="text-danger" *ngIf="nameCtrl.errors?.required">Required</small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label col-form-label-sm">Value <span class="text-danger">*</span></label>
      <div class="col-md-8">
        <textarea
          class="form-control form-control-sm"
          [class.is-invalid]="valueCtrl.invalid && valueCtrl.touched"
          placeholder="Enter parameter value"
          formControlName="value"
          rows="3"
        ></textarea>
        <div *ngIf="valueCtrl.invalid && valueCtrl.touched">
          <small class="text-danger" *ngIf="valueCtrl.errors?.required">Required</small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success width-xs-100" type="submit" [disabled]="!httpClientParameterForm.valid">OK</button>
    <button class="btn btn-light width-xs-100" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
