<div class="pad30L-sm pad15T">
  <h4 class="di__features-headtitle">Activities</h4>
  <div class="row">
    <div class="col">
      <div class="list-group list-group-flush list__text list__text-with-icon">
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="icon-item icon-recipe"></i>
          Recipe
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="icon-item icon-xml-profile"></i>
          XML Profile
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="icon-item icon-json-profile"></i>
          JSON Profile
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic_map</i>
          Map
        </a></div>
    </div>
    <div class="col">
      <div class="list-group list-group-flush list__text list__text-with-icon">
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic_description</i>
          SOAP Operation
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic_description</i>
          Disk Operation
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic public</i>
          HTTP Client Operation
        </a>
      </div>
    </div>
    <div class="col">
      <div class="list-group list-group-flush list__text list__text-with-icon">
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic_description</i>
          SOAP Connection
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic_description</i>
          Disk Connection
        </a>
        <a href="#" class="list-group-item text-truncate border-0 text-decoration-none">
          <i class="material-icons icon-item">ic public</i>
          HTTP Client Connection
        </a>
      </div>
    </div>
  </div>
</div>