.table-xs.table > tbody > tr > td, .table-xs.table > tbody > tr > th, .table-xs.table > tfoot > tr > td, .table-xs.table > tfoot > tr > th, .table-xs.table > thead > tr > td, .table-xs.table > thead > tr > th {
  padding: 3px 8px;
}
